<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Detail Product</h1>
    <form action="" method="post">
      <div class="form-group">
        <label for="Image Path">Image Path</label>
        <input type="text" is="imagePath" name="imagePath" class="form-control" value="{{product.imagePath}}">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" is="title" name="title" class="form-control" value="{{product.title}}">
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" is="description" name="description" class="form-control" value="{{product.description}}">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" is="price" name="price" class="form-control" value="{{product.price}}">
      </div>
      <a href="/" class="btn btn-success pull-left" role="button">OK</a>
      <a href="/{{product._id}}/delete" class="btn btn-danger pull-right" role="button">Delete</a>
    </form>
  </div>
</div>
