{{#each product_list}}
<div class="row">
  {{#each this }}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagePath}}" alt="..."
      class "img-responsive">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class="description"> {{this.description}}</p>
        <p class="type"> {{this.type}}</p>
        <p class="publisher"> {{this.publisher}}</p>
        <div class="clearfix">
          <div class="price pull-left">
            ${{this.price}}
          </div>
          <p>
            <a href="{{this._id}}/detail" class="btn btn-info pull-right" role="button">Detail</a>
            <a href="{{this._id}}/edit" class="btn btn-success pull-right" role="button">Edit</a>
          </p>

        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
